[2015-06-15 19:24] benoror opened #1 "Initial brainstorming"
Let's talk about the desired scope & functionality

[2015-06-15 19:25] benoror opened #2 "Use with-package?"
Should [with-package](https://www.npmjs.com/package/with-package) be used for package.json handling?

[2015-06-15 19:26] benoror commented on #1
Originally started in: https://github.com/formly-js/angular-formly/pull/350

[2015-06-15 22:42] benoror commented on #2
Got some inspiration from: https://github.com/bahmutov/with-package/blob/master/bin/with-package.js

[2015-06-15 22:42] #2 closed

[2015-06-16 04:50] benoror opened #3 "Publish package to npmjs.com"

[2015-06-16 05:27] benoror opened #4 "Move index.js to bin/"

[2015-06-16 05:34] benoror commented on #3
https://www.npmjs.com/package/better-npm-run

[2015-06-16 05:34] #3 closed

[2015-06-16 20:01] kentcdodds opened #5 "env: node\r: No such file or directory"
Not sure why, but if I install via `npm install better-npm-run@0.0.1` I get this error when trying to run anything:

[code]

However, it works fine if I install via `npm install benoror/better-npm-run#0.0.1`

Not sure what the problem is :-(

[2015-06-17 16:29] benoror commented on #5
I tried both cases in a Win32 and a Linux vm and it works ok with:
- node 0.10.36 & npm 1.4.28
- node 0.12.4 & npm 2.10.1

[2015-08-17 21:09] benoror opened #6 "Error propagation (stderr)"
In some scenarios errors might not be correctly raised, most probably because **stderr** is not handled correctly in the callback ([index.js#L28](https://github.com/benoror/better-npm-run/blob/master/index.js#L28)). [See node's exec docs](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback).

[2015-08-17 21:15] kentcdodds commented on #6
Thanks for looking into this. I think you've described the issue as thoroughly as I could.

[2015-08-21 13:47] christianharke commented on #5
Same problem here. Installed via `npm install better-npm-run@0.0.1` and running `better-npm-run anyscript` will end in `env: node\r: No such file or directory` (Mac OS X) and `CommandNotFoundException` (Windows). Running as follows works fine:

[code]

[2015-08-21 16:38] danielstefanovic commented on #5
Same issue on [Codeship](https://codeship.com/) as well:

[code]

[2015-08-21 17:21] benoror commented on #5
Turns out it worked in my local machine since I had an `npm link` to the the repo itself. I'll work on a fix asap

As a temporary fix you can run the locally installed bin as:

[code]

[2015-08-21 17:28] benoror commented on #5
According to contemporary npm wisdom, is it a good practice to run local `--save-dev` like that? Or is preferable to install packages globally?

[2015-08-21 17:32] kentcdodds commented on #5
I think it's preferable to install the packages locally which will add the `bin` of the installed package to the `node_modules/bin` directory. Then in `npm scripts` the `node_modules/bin` directory is added to the `$PATH` when running a script so we can access those things.

[2015-08-21 18:49] benoror commented on #6
@kentcdodds, I released a fix for stderr handling. I also created a repo to test all the possible outputs & errors:

https://github.com/benoror/better-npm-run-test-repo

[2015-08-21 18:52] kentcdodds commented on #6
Fantastic! Thank you! :D

[2015-09-28 12:13] rottmann opened #7 "How to call the list of commands ?"
From your example:
[code]
How can i call "build" and run all the commands?

[2015-09-28 16:26] benoror commented on #7
Something like:

[code]

[2015-09-28 16:26] #7 closed

[2015-10-16 14:44] rottmann opened #8 "Breaks after 3 file changes, EADDRINUSE"
If i save a file 3 times the server breaks but listening port is still in use.
It is not important if my files contain errors or are correct, it breaks after 3 saves.

`npm run dev` is with better-npm-run.

`npm run dev2` runs the same command without better-npm-run and i have no problem.

Start the dev server with the expected error:
[code]

Then i did not change anything, only save the file agai

[2015-10-16 14:59] benoror commented on #8
Looks like an issue with webpack-dev-server trying to re-spawn again at http://localhost:8080 , hende the EADDRINUSE error message:

[code]

Nevertheless I see that **dev2** command is different from the one executed by better-npm-run:

[code]

Maybe an issue with NODE_ENV not being set? What OS are you using?

[2015-10-16 15:24] rottmann commented on #8
Linux Mint 17.2.

I test it and set the env var to fixed value within my script (only use them in `webpack.config.base.js`), the error still exists.

I can run
`node node_modules/webpack-dev-server/bin/webpack-dev-server --config ./webpack.config.dev.js`
or
`NODE_ENV=development node node_modules/webpack-dev-server/bin/webpack-dev-server --config ./webpack.config.dev.js`
directly from command line

[2015-10-16 15:27] #6 closed

[2015-10-16 15:28] benoror commented on #8
You might want to try a different approach, using [spawn](https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options) for example.

PRs are welcome!

[2015-10-21 15:41] dtothefp opened #9 "Docs Question: what is `$npm_package_webpack`?"
I exectued:

[code]
[code]
<img width="613" alt="screen shot 2015-10-21 at 11 40 53 am" src="https://cloud.githubusercontent.com/assets/4656726/10641760/9deac3a8-77e8-11e5-9693-0a7f7809828a.png">

Not sure if there is a use case for `$npm_package_webpack`, seems confusing in the docs

[2015-10-21 16:23] benoror commented on #9
I'm not completely sure what are you talking about, but from what I see you might want to run `npm run watch`.

Gonna close this if no further questions.

[2015-10-21 16:23] #9 closed

[2015-10-21 17:13] benoror opened #10 "Similar alternative: kentcdodds/argv-set-env"
A new tool is being considered as a better & cleaner alternative: [kentcdodds/argv-set-env](https://github.com/kentcdodds/argv-set-env)

Replacement viability discussion: https://github.com/kentcdodds/argv-set-env/issues/1

ToDo: Update README with alternative message

[2015-10-21 17:14] #10 closed

[2015-10-22 13:14] dtothefp commented on #9
What exactly is `$npm_package_webpack`? Is that an environmental variable supplied by NPM or just some sort of shorthand in your docs.

Also when using eslint with this package it swallows all the output colors. From what I've read it's not possible to output colors with `child_process.exec` only `spawn`.  Is there something I'm missing?

[2015-10-22 14:45] benoror commented on #9
Ohh, now I understand. I borrowed the example script from angular-formly project, since better-npm-run was originally created for it: https://github.com/formly-js/angular-formly/pull/350/files . So my guess is that `$npm_package_webpack` was some sort of Env variable used by it, you can ignore it.

Regarding the output colors I am aware of it, you might wat to submit a PR (using `spawn` :smile:) o

[2015-10-22 14:46] #8 closed

[2015-10-22 14:49] benoror opened #11 "Use spawn instead of child_exec"
Use `spawn` instead of `child_exec`

[**Alternatives**](https://github.com/benoror/better-npm-run/issues/10):

- https://github.com/kentcdodds/argv-set-env
- https://github.com/kentcdodds/cross-env (uses `spawn`)

**Related issues**

- https://github.com/benoror/better-npm-run/issues/8#issuecomment-148745735
- Preserve output colors: https://github.com/benoror/better-npm-run/issues/9#issuecomment-

[2015-10-23 21:37] quicksnap opened #12 "Exit codes"
Consider:

[code]

Command `false` will exit non-zero. However, when run through `better-npm-run`, the exit code is not piped through.

Is this intentional?

[2015-10-23 21:56] #12 closed

[2015-10-23 21:57] benoror commented on #12
It's a reasonable fix. Thanks for your contribution :smile:

[2015-10-26 14:08] gorangajic opened #18 "add ability to specify build tasks"
in the Readme I have saw that you have this example?

[code]

is there some module to do this or it's just idea ?

I would like to have same ability so I can queue tasks one by one for build process

for example

[code]

with this and [concurrently](https://www.npmjs.com/package/concurrently) I can completely replace grunt/gulp :smile:

[2015-10-26 16:25] benoror commented on #5
I will close this issue now, as it is addressed by https://github.com/benoror/better-npm-run/pull/15

[2015-10-26 16:25] #5 closed

[2015-10-26 16:42] benoror commented on #18
I can't recall exactly why I did not implement it, but certainly that was the idea behind it.

Regarding [kimmobrunfeldt/concurrently](https://github.com/kimmobrunfeldt/concurrently) I'm not sure how bad it impacts **readibility** (CI server output for example), is it worth it?

[2015-10-26 16:52] gorangajic commented on #18
Output is not that much readable but I use it in dev env to run more things in the same time, for example I use it to run server, webpack and [devurl](https://github.com/gorangajic/devurl) from the same terminal.

[2015-10-26 17:02] benoror commented on #18
Ok, as an optional feature, and maybe also as a performance enhancenment.

Something like:

[code]

Maybe around here [lib/exec.js#L4](https://github.com/benoror/better-npm-run/blob/master/lib/exec.js#L4).

[2015-10-26 17:03] benoror commented on #18
**OK, Probably a bigger & more robust refactoring is needed, considering the intention to switch to [child_process.spawn](https://github.com/benoror/better-npm-run/pull/14) (https://github.com/benoror/better-npm-run/issues/11)**

Also, an update to the README is needed

Thanks!

[2015-11-07 19:53] davezuko opened #20 "How to pass through CLI arguments?"
Hey there, hoping somebody can help me with this, as I could just be missing something obvious. If I have a better-npm script such as:

[code]

and then npm scripts such as:

[code]

Is there a way to get those CLI arguments to propagate through into the betterScripts command? This is a pattern I've been using to avoid repetition, and it was working until we switched to better-npm-run. Any advice

[2015-11-08 09:33] gorangajic commented on #20
It's not possible right now but I have added that ability to my pull request https://github.com/benoror/better-npm-run/pull/19

[2015-11-08 13:25] davezuko commented on #20
Great, thank you so much @gorangajic.

[2015-11-10 23:34] benoror commented on #20
Fixed via https://github.com/benoror/better-npm-run/pull/19

[2015-11-10 23:34] #20 closed

[2015-11-10 23:35] benoror commented on #11
Fixed via: https://github.com/benoror/better-npm-run/pull/19

[2015-11-10 23:35] #11 closed

[2015-11-10 23:39] #4 closed

[2015-11-10 23:39] #1 closed

[2015-11-12 11:52] jonaskello opened #21 "TypeError: invalid data"
I'm trying to use better-npm-run on Windows but I just get error ```TypeError: invalid data```. To reproduce just copy a short version of the json from the README (btw the json in the README has a trailing comma so it does not work as-is):

[code]

Then run:

[code]

It gives this rather unhelpful output. Is there a way to see the actual problem behind this error?

[code]
Also checked npm-debug.lo

[2015-11-12 11:57] jonaskello commented on #21
Also this config works:

[code]

But as soon as there is something wrong I just get the unhelpful TypeError as above.

Here is a simpler config that gives TypeError:

[code]

I know that ```webpack``` itself works as I can run it OK from the command line.

[2015-11-12 12:04] gorangajic commented on #21
is webpack only installed locally ?

[2015-11-12 12:06] jonaskello commented on #21
Yes, it is installed with npm install -g webpack.

Maybe a better example is without webpack. If I just try to run a non-existent command I get the same error. Something like this:

[code]

[2015-11-12 12:11] jonaskello commented on #21
Ah, I guess by "installed locally" you mean like this:

[code]

Still gives the same error though...

[2015-11-12 16:13] benoror commented on #21
maybe related to https://github.com/benoror/better-npm-run/issues/5#issuecomment-133504647 ?

[2015-11-17 07:52] kolima opened #22 "Execute multiple commands in one line"
"start-prod": {
      "command": "node server.builder && pm2 start server.js --name admin-prod",
      "env": {
        "NODE_ENV": "production"
      }
    }

[2015-11-17 18:23] benoror commented on #22
huh?

[2015-11-25 09:34] kolima commented on #22
@benoror I meant to use && in command, because executes only node server.builder from example or add new field - commands, which will take an array of commands.

[2015-11-25 14:36] benoror commented on #21
I will close this issue since there's no new activity.

Feel free to comment if the problem persist and is related to the lib.

[2015-11-25 14:36] #21 closed

[2015-11-25 14:39] benoror commented on #22
This was already addressed in #18, have you seen it? PRs welcome!

I will close this issue. Cheers!

[2015-11-25 14:39] #22 closed

[2015-12-08 19:44] jacob-israel-turner opened #25 "${PWD} doesn't work in 'command' argument"
I'm trying to run the following command:

`"command": "forever start -l ${PWD}/logs/forever.log -o ${PWD}/logs/out.log -e ${PWD}/logs/errors.log -a index.js",`

I get the following error:

`Error: ENOENT: no such file or directory, open '/Users/jacob/.forever/${PWD}/logs/forever.log'`

Indicating that the script is being executed in the wrong context and/or `${PWD}` isn't being evaluated as he pre

[2015-12-09 00:34] benoror commented on #25
Hi @jacob-israel-turner I guess it won't work since that's an internal BASH variable:

http://tldp.org/LDP/abs/html/internalvariables.html

Can you share your workaround? And maybe document it in the README?

Cheers! :smile_cat:

[2015-12-09 03:09] jacob-israel-turner commented on #25
I just moved the command to an `.sh` file and ran that.  I can certainly make a PR.

[2015-12-09 05:24] benoror commented on #25
mmmm, just gave it a second thought and I will pass on your PR.

I thought you had a different approach. I believe running shell scripts is such a common use case that there's no need to put it in the Readme.

Nevertheless this issue can be helpful for someone else in the same situation.

Thanks anyway for your PR and raising the question.

Kind regards!

[2015-12-09 05:24] #25 closed

[2015-12-09 05:38] benoror commented on #25
Maybe this cam be added to a second file to avoid overload the Readme and just put a link to **advanced documentation**, something like **DOCS.md**, what do you think?

[2015-12-09 16:18] jacob-israel-turner commented on #25
Might be sufficient to just link to this issue, unless you're planning on expanding the docs in the future anyways.

[2015-12-10 15:28] andersaloof opened #27 "Script fails to execute on 0.0.4"
I've previously used 0.0.2 with success on a project, but after upgrading to 0.0.4 it fails.

The command I run is the following:
[code]

The setup in package.json is as follows:
[code]

Downgrading to 0.0.3 seems to fix the issue, and it seems to be connected to changing from child_exec to spawn done in 0.0.4.

[2015-12-10 15:57] benoror commented on #27
I haven't tested ii against newer Node 4.*/5.* versions. Can you try with 0.12.8 (stable)?

Also, can you test it in a Unix env (Linux/OSX)? I have seen problems with Windows before, that would help to identify the issue.

Probably related: https://github.com/davezuko/react-redux-starter-kit/issues/30

[2015-12-10 19:34] andersaloof commented on #27
My colleague on OSX also has the same issue with version 0.0.4 on a different project using this package. He's also on node 4/5.

But I'll downgrade to latest 0.12.x and try it there, to see if the issue is related to the node version and not the OS...

[2015-12-10 19:49] benoror commented on #27
Just tested it with latest changes from #24 (branch: [issue24](https://github.com/benoror/better-npm-run/tree/issue24)) with Node 5.1.0 on my Linux machine:

![n510](https://cloud.githubusercontent.com/assets/119117/11726525/a947a080-9f44-11e5-8d6f-8113b520f910.PNG)

[2015-12-10 22:17] benoror commented on #27
may be related:https://github.com/benoror/better-npm-run/issues/21

[2015-12-10 22:23] benoror commented on #21
@jonaskello did you managed to fix it? Someone else is having a similar issue: https://github.com/benoror/better-npm-run/issues/27

[2015-12-10 22:30] jonaskello commented on #21
@benoror No sorry. I had some more things that needed to happened in the script so I eventually moved it to shelljs instead.

[2015-12-11 08:53] andersaloof commented on #27
I've upgraded to 0.0.5 and can confirm that the changes in how the process is spawned on win32 now fixes the issue for me. I also misunderstood my colleague, 0.0.4 was working correctly on OSX for his part.

[2015-12-11 14:29] benoror commented on #27
Cool I'm glad it worked. Gonna close this now. Cheers!

[2015-12-11 14:29] #27 closed

[2015-12-22 17:04] benoror commented on #18
@gorangajic are you still interested in implementing this?

[2015-12-22 19:08] gorangajic commented on #18
Sure, but I am currently busy. If someone else want to try it's free to do so

[2015-12-22 19:21] benoror commented on #18
NP, I'll leave it open. If I find some spare time I will try it.

Cheers!

[2016-01-15 17:05] jacob-israel-turner opened #30 "Cannot run cleanup on process exit"
When a Node process is about to close, certain signals are sent to the program that allow you to do any cleanup necessary before finally shutting down a process.  Examples [here](http://joseoncode.com/2014/07/21/graceful-shutdown-in-node-dot-js/).

While using `better-npm-run`, that is not allowed.  Once I kill the process (with either `ctrl-c` or `kill <pid>`), the process is closed and my cleanu

[2016-01-15 17:35] benoror commented on #30
Hi @jacob-israel-turner I'm not sure how that involves `better-npm-run`, from what I understood you run your http server with `better-npm-run`, can you share your `package.json` script?

[2016-01-15 17:43] benoror commented on #30
`better-npm-run` internally uses  [child_process' spawn](https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options), which creates a separate process. According to [the docs](https://nodejs.org/api/child_process.html#child_process_child_process):

Originally I used [exec](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_optio

[2016-01-15 18:11] jacob-israel-turner commented on #30
Yes, I think that's the case.  I'm going to be playing with it a little this afternoon to see if I can find a solution.  Forgoing `better-npm-run` allows me to properly run cleanup, so it's either `better-npm-run`, or how I'm implementing `better-npm-run` that's causing the problem.

[2016-01-15 18:12] gorangajic commented on #30
npm start have the same issue https://github.com/npm/npm/issues/4603

[2016-01-15 18:30] jacob-israel-turner commented on #30
@gorangajic They might be related, but the issue I'm talking about has different results.  With the NPM issue, a process will _seem_ to exit, but if it is handling some cleanup, it could potentially keep running/printing to stdout until the process _actually_ exits (while, in the meantime, it appears you can run commands in the shell).

With the issue I'm talking about, the process appears to _act

[2016-01-15 18:33] benoror commented on #30
@jacob-israel-turner cool :+1: ping me if you find out :smile:

[2016-02-01 00:13] gorangajic opened #32 "Add CI support and badge"
@benoror we already have some tests, why don't add some CI support ?

I use [semaphoreci.com](https://semaphoreci.com/) for my open source project because it's free and things just work out of the box, but you can use whatever you want

[2016-02-01 00:19] benoror commented on #32
@gorangajic yeah that should probably be a good idea, since it's getting some traction and many projects now depend on this.

Unfortunately I don't have much spare time atm. Nevertheless I'm open to PRs and proposals if you'd like to work on this. :)

Already added you as collaborator :tada: :smile:

[2016-02-01 00:24] gorangajic commented on #32
Thanks, but I can't add CI support because it's not possible to do that as collaborator.
nvm it's not urgent whenever you can

[2016-02-05 02:05] mmahalwy opened #33 "Ability to specify .env file"
Should be able to specify whether to use .env or .env.development, etc.

[2016-02-05 02:52] benoror commented on #33
Is it a common practice? Do you have any info, links, specs?

[2016-02-05 12:39] carnesen commented on #33
The dotenv module recommends against doing that https://www.npmjs.com/package/dotenv#should-i-have-multiple-env-files.

[2016-02-05 18:41] benoror commented on #33
@carnesen thanks for the info!

[2016-02-05 18:41] #33 closed

[2016-02-05 18:44] benoror opened #34 "Use 'dot-env' package"
Don't try reinvent the wheel and use [npmjs.com/package/dotenv](https://www.npmjs.com/package/dotenv) to replace [lib/dot-env.js](https://github.com/benoror/better-npm-run/blob/master/lib/dot-env.js)

Should be pretty straightforward :smile:

Ref: https://github.com/benoror/better-npm-run/issues/33#issuecomment-180335816

[2016-02-08 16:19] gorangajic commented on #34
https://github.com/benoror/better-npm-run/pull/35

[2016-02-08 16:19] #34 closed

[2016-02-08 16:38] benoror commented on #34
released in: [0.0.7](https://github.com/benoror/better-npm-run/releases/tag/0.0.7)

[2016-02-08 18:49] #32 closed

[2016-02-08 18:49] benoror commented on #32
@gorangajic just added you as contributor on semaphoreci.com :smile: thanks for the suggestion!

[2016-02-11 19:08] sampurcell93 commented on #30
Any update on this? I too am worried about persistent invisible processes in my application.

[2016-02-11 19:18] jacob-israel-turner commented on #30
I haven't had time to look into this more.  I ended up significantly refactoring how I'm handling processes and this issue is not longer pertinent to my work.  If anyone is still interested, see [https://github.com/benoror/better-npm-run/issues/30#issuecomment-172044717](my comment above) and try testing from there.

[2016-03-01 10:19] Sigura opened #36 ""... is not recognized as an internal or external command""
looks like trouble in quotes, [concurrently](https://github.com/kimmobrunfeldt/concurrently) works fine when I run `concurrent --kill-others "npm run mocha" "selenium-standalone start" "node bin/api.js"`

[code]

package.json
[code]

[2016-03-01 15:20] benoror commented on #36
Hi @Sigura, did you try with single quotes? You might need to take a look at [child_process.spawn's documentation](https://nodejs.org/api/child_process.html).

Otherwise PRs are welcome :smile:!

Hint: https://github.com/benoror/better-npm-run/blob/master/lib/exec.js#L3

[2016-03-01 15:27] Sigura commented on #36
sure, same result

[code]

[2016-03-01 15:29] Sigura commented on #36
`cmd /c "node bin/api.js"` works fine

[2016-03-01 15:55] Sigura commented on #36
for cmd command mast be:
`cmd /c "concurrent --kill-others "npm run mocha" "selenium-standalone start" "node bin/api.js""`

I'm trying to find way how I can run this by spawn

[2016-03-01 16:19] Sigura commented on #36
found fix:

[code]

[2016-03-01 16:24] benoror commented on #36
Great would you mind submitting a PR?

[2016-03-01 16:24] Sigura commented on #36
One moment ,)

#37

[2016-03-01 16:26] #36 closed

[2016-03-01 16:27] benoror commented on #36
So fast! Thanks! Gonna publish in npm asap!

[2016-03-01 16:27] Sigura commented on #36
Thank you!

[2016-03-03 16:02] amelon commented on #18
with parallelshell (https://github.com/keithamus/parallelshell) you can do that.
Not sure you have to develop it.

[2016-03-06 17:16] Pleasurazy opened #38 "How to override env variables via cli?"
If I have

[code]

When I run sh$ `npm run ov` will output `app:*`

Can I do something like this, sh$ `DEBUG=app:compile; npm run ov` and expect output to be `app:compile`?

[2016-03-06 17:51] benoror commented on #38
`$ DEBUG=app:compile; npm run ov` will set `DEBUG` env variable, but then it will be overwritten again by `better-npm-run` (if you set it on `env` object)

[2016-03-07 13:22] Pleasurazy commented on #38
Ok, thanks :)

[2016-03-07 13:22] #38 closed

[2016-03-12 21:09] rafaelrinaldi opened #39 "Add a description field?"
Hey, I was just wondering if there's any interest in adding a new "description" field to the command options so we can also provide a better output for `npm run` when no arguments are given.

If there's interest, let me know and I can give it a shot.

Thanks!

[2016-03-12 22:11] benoror commented on #39
Hey @rafaelrinaldi! Thanks for your suggestion!

I thinks it does no harm to have a description field as far as it's optional.

Fee free to submit a PR

Thanks in advance, cheers!

[2016-04-06 10:44] vladimiry commented on #18
@amelon running tasks `one by one` and simultaneously (parallelshell) are different things.

[2016-04-07 07:26] amelon commented on #18
@vladimiry sure - I probably missed the `one by one`
parallelshell is now merging (not really merging - read this https://github.com/mysticatea/npm-run-all/issues/10) with https://github.com/mysticatea/npm-run-all.

npm-run-all allow sequential or parallel tasks running

[2016-04-12 19:04] BenjaminRCooper commented on #36
Any word on this being published?

[2016-04-13 01:20] benoror commented on #36
@BenjaminRCooper it's already merged

[2016-05-18 09:55] maticrivo opened #41 "overwrite .env from package.json"
Lets say i have a `.env` like follows:
[code]

and a `package.json` file like follows:
[code]

and `index.js` looks like this:
[code]

i would expect the value of FOO to be the one in `package.json` and not the one in `.env`.
i would expect the output to be `FOO: tar` but instead im getting `FOO: bar`

any idea what im doing wrong?

[2016-05-18 15:23] benoror commented on #41
Hi @maticrivo!

dot-env package (https://www.npmjs.com/package/dotenv) will replace during runtime anything you have in your Environment previous to execution:
https://github.com/benoror/better-npm-run/blob/master/lib/exec.js#L1

including better-npm-run's env:
https://github.com/benoror/better-npm-run/blob/master/lib/exec.js#L11

I would say this is the expected behaviour, otherwise what's the po

[2016-05-18 16:46] maticrivo commented on #41
Hi @benoror
Thanks for the quick response. I wasn't aware of that information about dot-env package.

If i think of something i'll re open this issue with a proper PR.

[2016-05-18 16:46] #41 closed

[2016-06-17 08:07] royriojas opened #42 "Consider to add an alias to `better-npm-run` cli. Maybe something like `bnr`"
Hi, would be you be open to add an alias to the `better-npm-run` cli. Something like `bnr`?

The issue here is that when you have several tasks running in parallel (or in sequence) having to
writter `better-npm-run` several times makes the string really longer than it should be if the name of the alias would be something like `bnr`

The following npm script

[code]

can be somehow reduced to

[cod

[2016-06-17 17:24] benoror commented on #42
Wouldn't be better to use a [shell alias](http://www.tldp.org/LDP/abs/html/aliases.html)?

[2016-06-17 17:47] royriojas commented on #42
benoror, well not really, because if you clone the project on a another computer now you have a manual step to create such an alias. I understand you don't see value on that, but this might be useful when you have tons of calls to `better-npm-run` in a single line :)

Thanks anyway.

[2016-06-17 17:49] royriojas commented on #42
Also I'm not suggesting you to stop calling it `better-npm-run`. just in the `bin` section of your `package.json` add another alias

[code]

[2016-06-17 17:54] benoror commented on #42
Actually, that's not such a big deal, so why not! 😄

Could you submit a PR with the change, referencing this issue# in the commit title, like: "[#42] Add alias..."? Also some writing in the README.md explaining it would be great!

[2016-06-17 18:02] royriojas commented on #42
sure. Will do it!

[2016-06-22 00:29] #42 closed

[2016-07-01 17:10] oeeq commented on #38
So is there a way to override variables specified in `betterScripts`? I guess It would be very convenient because `package.json` is usually synchronized with repo and I see no way to override it in environment rather than in project, in a case when developing environment differs between developers at least a little bit.

[2016-07-01 17:29] benoror commented on #38
@oeeq Sorry, didn't catch your point, can you illustrate it with an example?

[2016-07-01 18:11] oeeq commented on #38
[code]

@benoror Here's a very simple example. I assume it's a pretty common use case, it simplifies configurations a lot. However, I'm losing a capability to override those parameters in environment (using `.env` file or specifying them before command `PORT=3001 npm run dev`). For example, if I don't have a 3000 port available, the only way to change it is to update `package.json`, which will aff

[2016-07-03 01:50] DelvarWorld opened #44 "Run multiple commands?"
This crashes:

    "dev-with-rebuild": "better-npm-run build-dlls && better-npm-run dev",

How can I run/chain multiple npm scripts?

[2016-07-04 02:18] benoror commented on #44
I just tried it and works fine, let me know and feel free to re-open if you still have issues

[2016-07-04 02:18] #44 closed

[2016-07-04 02:22] benoror commented on #38
@oeeq Yeah this definitely feels overengineered and out of scope for `better-npm-run`

[2016-07-05 17:13] tomfin46 opened #45 "Inheriting stdin pipe as well"
Hey, looking to use better-npm-run to launch a script that's listening to stdin for user input however noticed you guys went with redirecting the stdin pipe whereas inheriting both the stdout and stderr ones.

Was wondering if there was a specific reason/use-case for this? or whether you'd accept switching to inheriting all the stdio pipes?

Thanks

[2016-07-08 04:34] benoror commented on #45
Not really, PRs welcome! 😸

[2016-07-23 22:19] benoror commented on #45
Fixed in: https://github.com/benoror/better-npm-run/pull/46

[2016-07-23 22:19] #45 closed

[2016-08-08 13:53] OlegLustenko commented on #18
Hello, @benoror, did you implement this proposal?

[2016-08-08 14:10] benoror commented on #18
@OlegLustenko  nope, it's still open for proposals, feel free to submit a PR

[2016-08-08 23:06] galenandrew opened #47 "Add support for command string instead of sub-object."
Hey @benoror! Cool package here! Would you be open to considering a PR that adds support for a command string vs sub-object?

For instance instead of:
[code]

it could be…
[code]

The use case/value here is to simplify the `betterScripts` object when you don't have env variables to declare (because they are in a `.env` file).

Let me know, and if you're open to it I'll submit a PR.

[2016-08-09 02:21] benoror commented on #47
Sure sounds good tome! Do you mind adjusting the README as well? Tha nks!

[2016-08-17 04:21] bguiz opened #49 "Parse env vars in betterScripts.taskName.env.envVarName"
Given the following `betterScripts` section:

[code]

The value of `NODE_ENV` is substituted correctly in `betterScripts.test.command`, however, they remain verbatim in `betterScripts.test.env.MOCHAWESOME_REPORTNAME` and `betterScripts.test.env.MOCHAWESOME_REPORTNAME`.

Could we please get substitution going on inside of `env` from each task as well?

[2016-08-18 18:26] #47 closed

[2016-08-18 18:26] benoror commented on #47
@galenandrew Andrew I just had a chance to review this, it's awesome! Sorry for the delay, and thanks for the contribution! Would yo be interested in becoming a repo maintainer?

[2016-08-18 20:18] galenandrew commented on #47
@benoror thanks! As for being a repo maintainer, I'm happy to help anyway I can. Feel free to DM me on twitter or just comment here if there is a specific flow/process you follow (outside of the normal PR-based workflow).

[2016-08-19 18:30] benoror commented on #47
@galenandrew  Just reviewing PRs whenever you have a chance, thanks  lot!

[2016-09-23 21:23] cspotcode opened #52 "Auto-detect script from npm_lifecycle_event env var"
When better-npm-run is invoked via `npm run-script` it can autodetect which script to execute based on the `npm_lifecycle_event` environment variable.

For example, the following can be simplified:

[code]

...to this:

[code]

[2016-09-23 21:52] benoror commented on #52
PR welcome! 😺

### Github Etiquette

- https://stories.devacademy.la/how-to-use-github-like-a-proper-human-being-1a9c895c4e13#.4069xf24x
- http://chris.beams.io/posts/git-commit/
- https://github.com/agis-/git-style-guide

Let me know if you need any help! 😄

[2016-10-10 11:21] AndyOGo opened #53 "Environment variables lost if executed with maven"
I face a really weird issue if I kick off my build through maven by `exec-maven-plugin`.
In fact to make it work I have to literally state the `NODE_ENV` in my pom.xml like:

[code]

[2016-10-10 18:05] #53 closed

[2016-10-24 11:48] just-boris opened #54 "Make .env overriding default script.env"
As I see in [current source code](https://github.com/benoror/better-npm-run/blob/master/lib/exec.js#L13), environment from package.json has priority over `.env` file. I think, it is not correct.

My use case: I have an environment variable `PORT` that has a default value in `package.json`. Then I would like to put `.env` file with override it. `.env` will be put under `.gitignore`, so any develope

[2016-10-24 17:15] benoror commented on #54
Hi @just-boris,

Same topic was discussed & addressed here: https://github.com/benoror/better-npm-run/issues/41

In summary: one **order** should be supported in spite of the other, and this package follows the same convention as [dotenv](https://www.npmjs.com/package/dotenv)

I will close the issue, nevertheless I'm open for discussion, and as always you can submit a PR with proper test(s) and pr

[2016-10-24 17:15] #54 closed

[2016-10-24 17:16] benoror commented on #49
Hi @bguiz!

Never got the [requested changes](https://github.com/benoror/better-npm-run/pull/51#pullrequestreview-460344), are you still interested in this feature?

Otherwise we could close this :)

Let me know, cheers!

[2016-10-24 17:17] benoror commented on #52
Hi @cspotcode!

are you still working on this feature?

Otherwise we could close this :)

Let me know, cheers!

[2016-10-25 16:05] rochdev opened #56 "No longer works as advised"
Since https://github.com/benoror/better-npm-run/pull/55 was merged, `better-npm-run` no longer sets environment from the `env` field defined in `betterScripts` if already set by parent process. This breaks several of our tasks since we use `better-npm-run` specifically to manage environment variables on a per-task basis.

For example, with a script defined as:

[code]

and then run it using:

[cod

[2016-10-26 15:28] hrimhari commented on #56
For clarification, if you take the example from the readme.md:
[code]
The new behavior now forces NODE_ENV to whatever is in the .env file or the environment which could be `development`. It makes `npm run deploy:prod` effectively broken.

[2016-10-26 15:53] galenandrew commented on #56
Thanks @hrimhari!! I'll look into this.

[2016-10-26 16:56] just-boris commented on #56
Hello! The author of that changes is here.

Why do you think that `package.json` should have priority?

This is exactly that I wanted to achieve. But not with `NODE_ENV`, but with `PORT`. I considered the following use-case:

You have some defaults in `package.json`, then you have `.env` file under `.gitignore`, so any developer can do adjustments for his environment without touching versioned fil

[2016-10-26 17:22] hrimhari commented on #56
Yes, I think we all understand each other.

You wanted to override package.json with `.env`, but the advertised purpose of better-npm-run is to avoid specifying environment variables in the command by putting them under a configuration section and use the correct configuration by specifying the corresponding command. This is described in the readme.md.

Your use case has the `NODE_ENV` side effect

[2016-10-26 17:43] benoror commented on #56
Hey guys! I made a mistake by introducing a breaking change in a minor version, sorry for that 🙈 . I am aware of the issue, unfortunately I don't have time to dive in at the moment.

@galenandrew do you think you can settle a nice alternative for both PoV's? Anyways I'll try to make some time and come out with a solution proposal.

In the meantime affected parties can stick to version `0.0.11`

Ch

[2016-10-26 17:59] rochdev commented on #56
One of the problems is that `.env` is merged with `process.env` before ever getting to `better-npm-run`, and the side-effect is mostly caused by that since the conflict is happening with `process.env` and not `.env`. So supporting both use cases would be possible by having a priority like `process.env > package.json > .env`. However, I think this would still conflict with the goal of the library w

[2016-10-26 18:04] galenandrew commented on #56
@rochdev agreed. The intention of the library is twofold – 1) load `process.env` and `.env` variables into the environment for npm script execution and 2) allow package.json to override variable values to support commands like `npm run build:prod`.

@benoror I've got an patch for this that I'll push up and open an PR shortly. Thoughts on bumping to a v1.0.0 with this change?

[2016-10-26 18:13] hrimhari commented on #56
If you absolutely want to support both use cases, I'd look into adding a `defaultEnv` that is overridden by everything else including the `env` section while keeping the `env` section master of all.

[2016-10-26 18:17] galenandrew commented on #56
The `betterScripts.[script-name].env` block will override any environment variable set by either the parent process or by a `.env` file. PR and new version coming soon.

[2016-10-26 18:22] benoror commented on #56
@galenandrew absolutely! should we rollback `0.0.12` in an intermediate version before re-introduce it in `1.0.0`? thoughts?

[2016-10-26 19:43] just-boris commented on #56
That's weird behavior IMO. In this way the `betterScripts.[script-name].env` file will effectively work exactly as a section in `package.json`. So why do we need to introduce one more way to do the same thing?

Also, so far I got only one trade-off in current behavior: `NODE_ENV` variable shouldn't be overridden. How about not to set this in `.env` file? Then problem will be solved.

[2016-10-26 19:53] hrimhari commented on #56
It's not just `NODE_ENV`. Any variable which is expected to have different values according to its `betterScripts.[script-name].env` definition will be broken by your use case, as I explained above.

[2016-10-26 20:13] just-boris commented on #56
For the reference, I am working on a project based on "[react-redux-universal-hot-example](https://github.com/erikras/react-redux-universal-hot-example/blob/master/package.json#L41)", which uses better scripts very well.
There some shared environment variables `PORT` and `APIPORT` that I wanted to have overridable. On environments, where default ports are taken, I can put *one simple* `.env` file

[2016-10-26 21:05] galenandrew commented on #56
@just-boris to make sure I understand your use-case, are you saying you want the `.env` file to override the `betterScripts` environment variables? Or that the `betterScripts` environment variables override `.env` file?

[2016-10-26 22:39] just-boris commented on #56
I want that have `.env` file more important, than `betterScripts` object definition.
This is what I did in PR and trying now to preserve.

[2016-10-27 16:08] rochdev commented on #56
@just-boris From your description I think what I've proposed earlier would work for your use case without even needing `better-npm-run`. You could also take a look at how Heroku and similar PaaS are doing it (they all use the PORT variable to configure services)

[2016-10-27 16:33] just-boris commented on #56
@rochdev How do you see this?

Now, I consider `better-npm-run` as a central entry point, so I can always do `npm start` and service will start with appropriate options.

Your solution for me sounds like you proposing me to run service via command `PORT=4000 npm start`, that I definitely want to avoid.

[2016-10-27 17:13] galenandrew commented on #56
@just-boris your project is using this package with the original behavior – **environment variables defined in `betterScripts` are not overridden by the `.env` file**.

You are requesting different behavior – **the `.env` file override the `betterScripts` definition** – which is contrary to this package's intent and purpose. Let me explain.

## Intended Behavior & Use-Case
The intention of this pa

[2016-10-27 17:30] rochdev commented on #56
Looks to me like https://github.com/benoror/better-npm-run/pull/59 reverts the behaviour to be as intended, while still supporting @just-boris use case.

[2016-10-27 17:32] galenandrew commented on #56
Yes, however it is introducing a new feature which should be discussed further. I'm open to it, but our priority ATM is restoring package behavior to pre #55.

[2016-10-27 17:33] hrimhari commented on #56
Reverting #55 resolves #56. You can continue discussion #55 later. It's shocking to see #59 closed instead of moving the discussion there, tho.

[2016-10-27 17:36] galenandrew commented on #56
@hrimhari #59 can always be reopened, but new features should be discussed in an Issue prior to implementation being proposed in a Pull Request.

[2016-10-27 17:37] hrimhari commented on #56
Can we have #55 reverted in the mean time?

[2016-10-27 19:11] just-boris commented on #56
Thank you for so detailed explanation! Now I understand where I was wrong in the first time, I'd rather go with pure `dotenv` and `npm`. No need to implement anything like `defaultEnv`.

[2016-10-27 19:25] just-boris commented on #56
Also, I'd like to note that auto-picking up `.env` file is a bad feature that only causes only confusion, like mine. This shouldn't be part of this package, everybody can use `dotenv` itself.

The order now is the following:

* `.env` file
* command env variables
* `betterScrpts` definition

Actual process environment should be either first or last, but not in the middle of two files. This is very

[2016-10-27 20:39] galenandrew commented on #56
Thanks for your feedback @just-boris, you have some good points! It can likely be defined better in the README to avoid confusion, but think of the `betterScripts` definition as a way of setting parent process env variables in JSON vs inline w/ the command (once again reference the [example](https://github.com/benoror/better-npm-run/issues/56#issuecomment-256709687)).

@hrimhari instead of reverti

[2016-10-28 18:04] #56 closed

[2016-10-28 18:08] galenandrew commented on #56
@rochdev update published to NPM as `v0.0.13`

[2016-11-01 05:31] benoror commented on #30
Is this still an issue? Otherwise we can close it, let me 😄 Cheers!

[2016-11-01 05:32] benoror commented on #18
Is this still an issue? Otherwise we can close it, let me know 😄 Cheers!

[2016-11-01 05:32] #49 closed

[2016-11-01 05:33] #52 closed

[2016-11-01 05:33] benoror commented on #39
Hi @rafaelrinaldi,

Are you still working on this feature? Otherwise we can close the issue

Let me know, cheers!

[2016-11-01 13:55] jacob-israel-turner commented on #30
I'm no longer involved in any projects using `better-npm-run`, so I haven't worked on this since February or so. I'm sure it's still an issue, buy

[2016-11-01 13:57] jacob-israel-turner commented on #30
But I won't be looking into this issue any more. Good luck!
(Writing comments on my phone can cause issues 😬)

[2016-11-01 14:30] rafaelrinaldi commented on #39
Hey @benoror, I have not worked on this for a long time but I think I can give it a shot now. Feel free to close if you want 👍

[2016-11-02 21:25] ntucker opened #60 "[Feature] Silent mode"
Sometimes you have tooling you build around a script and you don't want extra output spewing out that you don't need. (In our case we are integrating with arcanist.) It would be lovely if we could silent the console.logs that happen in this project so we don't have to see that.

Maybe the authors have an opinion on what that option should be called?

[2016-11-02 22:03] benoror commented on #60
Reference: https://github.com/npm/npm/issues/6066#issuecomment-53939663

[2016-11-03 03:38] ntucker commented on #60
No that silences npm, not the crap npm-better-run spews. I still get this:

[code]

[2016-11-03 03:39] ntucker commented on #60
You have this line

[code]

[2016-11-03 03:41] benoror commented on #60
PR welcome! 😺

### Contribute

- Be **civil & polite**
- http://makeapullrequest.com/

### Github Etiquette

- https://stories.devacademy.la/how-to-use-github-like-a-proper-human-being-1a9c895c4e13#.4069xf24x
- http://chris.beams.io/posts/git-commit/
- https://github.com/agis-/git-style-guide

Let me know if you need any help! 😄

[2016-11-06 02:54] #39 closed

[2016-11-06 02:55] #30 closed

[2016-11-06 03:06] #18 closed

[2016-11-16 16:08] laggingreflex opened #61 "[Feature] cwd diretory"
I have a use case where I need to do "cd xxx && yyy". I was wondering whether it could be achieved with this module by simply specifying the cwd directory, just like it does env variables?

[2016-11-16 17:46] benoror commented on #61
have you tried using a npm script simply with `cd xxx && yyy` ?

[2016-11-16 17:54] laggingreflex commented on #61
Yes. But it's an awkward syntax, and I thought it would be great having both this and cross-env removed and simply use `{env:xxx, cwd:yyy}`

[2016-11-16 19:01] benoror commented on #61
I respectfully disagree good ol' shell syntax is awkward syntax ¯\_(ツ)_/¯

Gonna close the issue, nevertheless feel free to keep elaborating on your argument

[2016-11-16 19:01] #61 closed

[2017-01-08 04:19] benoror opened #63 "Refactor silent flag using commander.js"
Refactor silent flag introduced in https://github.com/benoror/better-npm-run/pull/62  using [TJ's commander](https://github.com/tj/commander.js):

- http://tj.github.io/commander.js/
- https://developer.atlassian.com/blog/2015/11/scripting-with-node/

[2017-01-08 04:27] benoror commented on #60
Closed via https://github.com/benoror/better-npm-run/pull/62

[2017-01-08 04:27] #60 closed

[2017-01-24 11:11] ggilberth commented on #63
Have given this a go - #64

[2017-01-28 22:30] benoror commented on #63
Closed via https://github.com/benoror/better-npm-run/pull/64

[2017-01-28 22:30] #63 closed

[2017-04-03 07:06] kdmitrijs opened #66 "[Bug] Removing quotation marks from arguments"
Having an issue with quotation marks disappearing.

command:
[code]

npm script:
[code]

Normal npm behavior:
[code]

better-npm script:
[code]

better-npm behavior  (note the lack of `"` in the command arguments):
[code]

Workaround for npm is to use double quotes:
[code]

[2017-04-08 16:50] benoror commented on #66
Escaping quotes is expected behavior inside JSON files such as `package.json` afaik.

Feel free to open if you have more questions.

[2017-04-08 16:50] #66 closed

[2017-04-10 06:42] kdmitrijs commented on #66
It is not inside the json file. I am talking about passing command line arguments to npm scripts.
Running the command `npm run test -- --grep "should do stuff"` requires quoting the last parameter to signify that it's not separate keywords (which is a perfectly sensible thing to do for any CLI program).
npm wraps every passed argument in quotes, which preserves the quoted arguments.
[code]
But bet

[2017-05-07 06:03] Shrugs opened #68 "Unable to differentiate between consumed and appended arguments."
Given a `package.json` like so (react-native project):

[code]

better-npm-run attempts to execute the following command: `node node_modules/react-native/local-cli/cli.js bundle --platform ios --dev false --entry-file index.ios.js --bundle-output ios/main.jsbundle -p .env.staging`. The react-native cli then complains about the `-p` argument that it doesn't understand. The issue, of course, is that

[2017-05-19 13:27] mihaibogdan10 opened #69 "Not working on macOS"
I have a macOS Sierra on which I made a simple test script that only does `console.log(process.env)`

I only get env variables that are prepended, e.g. `npm_package_betterScripts_build_env_PRODUCTION_URL_PREFIX`

I've also tried this on an Ubuntu machine, and it works fine (meaning I also see the unprefixed ENV variable, not sure why the prefixed one needed though). Both run on node v6.10.3, bette

[2017-07-11 08:56] kulmajaba opened #71 "[Windows] Script fails when there are dots in the command path"
betterScript from `package.json`:

    "dev-server": {
      "command": "./node_modules/.bin/webpack-dev-server --hot --inline --config webpack/development.js",
      "env": {
        "NODE_ENV": "development",
        "NODE_PORT": 3000
      }
    }

better npm run (more accurately spawn) throws an error on Windows with this script because of the `/.bin/` in the middle of the path. This happens w

[2017-07-31 10:30] joshi-mehul commented on #71
Did you find solution? If not I can try and provide PR.

[2017-07-31 14:38] benoror commented on #71
@kulmajaba imho having to explicitly put the quotes in the JSON command sounds good to me, so anyone else can be certain that some spaces or special characters are there.

Also, in the case of spaces, how would you be certain if it's indeed an space inside the path or a separate argument? I mean, how would it differentiate something like `./foo "bar/.ba z"` from `./foo bar/.ba z` without explicit

[2017-07-31 15:01] benoror commented on #68
Fixed via https://github.com/benoror/better-npm-run/pull/70

[2017-07-31 15:01] #68 closed

[2017-07-31 15:21] kulmajaba commented on #71
@benoror Fair enough, let's keep writing the quotes explicitly.

This might be a common issue for many people that are unfamiliar with the quirks of Windows so maybe we could mention this in the docs?

[2017-07-31 15:29] benoror commented on #69
@mihaibogdan10 just released new minor, can you try to see if the issue is still happening?

[2017-07-31 15:32] benoror commented on #66
@kdmitrijs we just released a new minor version, do you mind trying it? Cheers!

[2017-07-31 15:34] benoror commented on #71
@kulmajaba yeah! do you mind adding it to the README? BTW, I don't think double quote scaping is exclusive to Windows

Thanks, cheers!

[2017-07-31 15:34] #71 closed

[2017-08-20 05:05] Anenth commented on #9
`$npm_package_webpack` might be a config value.
We can create new variables in package.json using `config`
eg.
[code]
This can be called inside the script
[code]

[2017-10-01 10:26] u007 opened #74 "webpack stuck"
[code]

[2017-10-01 10:30] u007 commented on #74
sorry wrong repo

[2017-10-01 10:30] #74 closed

[2017-11-29 17:08] benoror opened #75 "Logo"

[2017-11-29 17:08] benoror commented on #75
![8dfc4b1170a25e07c254c99f6f549caf](https://user-images.githubusercontent.com/119117/33388438-9c08ff52-d4f5-11e7-87dc-cdcb085a907f.png)

[2017-11-29 17:08] #75 closed

[2017-11-29 17:10] benoror commented on #75
![logo-8dfc4b1170a25e07c254c99f6f549caf](https://user-images.githubusercontent.com/119117/33388583-f2abc006-d4f5-11e7-9a59-46e143361d72.png)

[2018-02-25 19:32] alexander-ossur opened #78 "basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")"
Hello,

To reproduce:

[2018-02-25 19:51] alexander-ossur commented on #78
Ah I see now why :)

https://github.com/TheSavior/ESLint-Formatter/issues/18#issuecomment-237342813

[2018-02-25 19:51] #78 closed

[2018-03-06 10:22] avinashrd opened #79 "Keep getting /node_modules/.bin/better-npm-run: Permission denied"
I am facing a similar issue with better-npm-run mentioned [here](https://github.com/davezuko/react-redux-starter-kit/issues/894). I tried the below solutions. That didnt help:
https://docs.npmjs.com/getting-started/fixing-npm-permissions

ules/.bin/better-npm-run: Permission denied
[build-web-dev ] [build-web-dark-dev] npm ERR! code ELIFECYCLE
[build-web-dev ] [build-web-dark-dev] npm ERR! errno 1

[2018-03-19 12:27] SadafZohra commented on #36
These two commands worked for me
npm install mocha -g
mocha

[2018-03-28 17:01] benoror commented on #69
how so?

[2018-04-09 17:46] zhaoyao91 opened #80 "String arg are split unexpectedly"
I have such a `package.json`:

[code]

and I executed such cmd to test matched cases:

[code]

well, the expected effect is to execute `jest -t "some case"`, but through better-npm-run, it actually executes `jest -t some case`, which is not as expected.

[2018-04-09 19:26] benoror commented on #80
Could you try escaping the string? Like:

npm test -- -t "\"some case\""

Or

npm test -- -t '"some case"'

On Mon, Apr 9, 2018, 12:46 PM Yao Zhao <notifications@github.com> wrote:

--

Ben Orozco
benoror.com
benoror@gmail.com
appointments: vyte.in/benoror
<https://twitter.com/benoror> <https://www.facebook.com/benoror>
<https://www.linkedin.com/in/benoror/>

[2018-04-10 03:43] benoror commented on #80
Cool, didn't know about run.env :)

[2018-04-10 03:43] #80 closed

[2018-07-31 14:20] char0n opened #81 "License missing in npm package"
Hello, is is possible to incorporate the LICENSE file inside the npm package. Now it's missing. It's implied by MIT license that if licensed under the MIT the source code must be accompanied by full license text. If the license file is not in the npm package a lot of people cannot use it.

Thank you

[2018-07-31 14:41] benoror commented on #81
@char0n good catch, would you mind creating a PR?

[2018-07-31 14:46] benoror commented on #81
@char0n wait, it's here: https://github.com/benoror/better-npm-run/blob/master/LICENSE

[2018-07-31 14:46] #81 closed

[2018-07-31 15:29] char0n commented on #81
Yes it's there (github repo), but it's not inside the npm package you're distributing. Can you pls publish the new version of the library which contains the license file in it ?

https://npm.runkit.com/better-npm-run - Click on `Browser Files`

[2018-07-31 15:39] benoror commented on #81
@char0n oh sorry for that, I published a new version with the LICENSE included

Cheers!

[2018-07-31 16:53] char0n commented on #81
Thank you very much for that.

[2018-07-31 18:24] benoror commented on #81
thank you for reporting it 😄

[2018-08-16 12:06] shrikeh opened #82 "Strip away arguments used by bnr?"
I had an issue with bnr whereby I couldn't work out what was changing when I ran webpack via bnr with a specified `.env` path compared to when I ran it without. Even copying the .env files across till they were identical, webpack would run differently.

After much debugging, I realised that I was running `yarn run webpack -p ${ENV_FILE}` which became `webpack --register --progress --colours -p [di

[2018-08-16 17:42] benoror commented on #82
do you mind sharing the `scripts` part of your `package.json` ?

[2019-02-02 01:41] mcmillion commented on #69
I'm seeing the same thing on 10.14.3. The prepended version shows up in `process.env` but the real version shows up undefined.

[2022-08-10 09:26] iamyoki opened #85 "🎁 better-scripts may be a better alternative"
Check it out: https://github.com/iamyoki/better-scripts

[code]

![image](https://user-images.githubusercontent.com/74389358/183866314-227ac1cb-00a8-415b-bfcf-50ff6addcf15.png)

[2022-08-10 14:07] benoror commented on #85
Looks mostly sugar on top

[2022-08-10 14:07] #85 closed, assigned to nobody